<div class= "list-container">
  <%= image_tag "Movietime.png", id: 'banner-indexlist-img' %>
  <div class= "body">
    <h1>My Movies Lists</h1>
  </div>
  <div class= "card-group">
    <div class="card card-list">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <%= image_tag "Movietime.png"%>
          <div class="card-body">
            <%= list.name %>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
