<div class="footer mb-0">
    <div class="footer-links d-flex flex-column">
      <div class="mb-2">
        About me:
      </div>
      <div>
        <a href="https://www.instagram.com/alyssagc/"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/alyssagc"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/alyssacoelho/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div>
      Batch#766 © 2021
    </div>
    <div class="footer-copyright">
      This project was made with <i class="fas fa-heart"></i>
    </div>
</div>
