<div class="banner">
  <div class="container">
    <h1>Watch List App</h1>
    <p>Sort your movies the way you want!</p>
    <%= link_to 'Start now', lists_path, class: "btn btn-home" %>
  </div>
</div>
