.navbar-lewagon {
  justify-content: space-between;
  background: rgb(38, 25, 27);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 5rem;
}

.text-nav{
  color: rgb(246, 172, 200);
}
